.container {
  width: 100%;
  padding: $padding;
}

.optionContainer {
  display: flex;
  flex-wrap: wrap;
}

.previewContainer {
  padding: $padding;

  &.selected {
    background-color: $color_top_panel;
    color: white;
  }
}

.canvas {
  display: block;
}
