.container {
  padding: 2% 0;
  height: 100%;

  .LoginBox {
    max-width: 450px;
    // height: 400px;
    margin: 20px auto;
    background: $color_container_background;
    box-sizing: border-box;
    @include CardContainer();

    .LoginBoxTitles {
      width: 100%;
    }

    .title {
      width: 50%;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      padding: 20px 0;
      background-color: #f1f1f2;
      color: #454547;
      border: none;
      outline: none;
      font-size: 18px;
      @include Clickable;

      &.active {
        background-color: #fff;
        color: #2a2d32;
      }
    }

    .LoginForm {
      width: 100%;
      margin: $header-height auto;

      .phoneStyle {
        padding: 10px 50px;
      }

      .InputStyle {
        input {
          width: 98%;
          border: none;
          border-bottom: solid 1px #ccc;
          height: 25px;
          margin: 10px 0;
          font-size: $font-size-button;
          font-style: italic;
        }
        @include iconBefore( '/res/lock-white.svg');
      }
      .FromButton{
        max-width: 100%;
        text-align: center;
        button{
          width: 100%;
          background-color: $color_accent_blue;
          color: $color_text_light;
          margin: 15px auto;
          height: 40px;
          font-size: $font-size-button;
          border: none;
          outline: none;
  
          &:hover {
            background: #fff;
            color: $color_dark_primary;
            border-color: $color_dark_primary;
            border: solid 1px;
          }
        }
  
      }
      
      p {
        font-size: $font-size-button;
        color: $color_accent_blue;
        font-style: italic;
        padding-left: 10px;
      }

      a {
        text-decoration: none;
      }
    }

    .loginGuest {
      text-align: center;
      margin: 25px auto;
      a {
        text-decoration: none;
        font-size: $font-size-heading;
        color: $color_accent_blue;
      }
    }
  }
}
/* End Login Box  */
@media only screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    margin-top: -108px;

    .LoginBox {
      border: none;
      box-shadow: none !important;

      .LoginBoxTitles {
        display: none;
      }

      input {
        width: 98%;
        border: none;
        border-bottom: solid 1px #ccc;
        height: 25px;
        margin: 10px;
        font-size: $font-size-button;
        font-style: italic;
        background: #2A2C33;
        color: #fff;
      }

      .phoneStyle {
        color: #000;
        width: 100%;
        padding: 0 !important;

        .brandLogo {
          height: 40px;
          background-image: url('/res/division/WG-header.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 100%;
          min-width: 80px;
          margin: 20px 0 50px 0;
        }
      }

      .topPhoneStyle {
        color: #000;
        background: #2A2C33;
        padding: 25px;
      }

      .buttomPhoneStyle {
        color: #000;
        text-align: center;
      }
      &:focus{
        outline: none;

      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #fff;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #fff;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #fff;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #fff;
      }

    }
  }
}
